
.scheduleCard{
    background-color: white;
    border-radius: 20px;
    width: 46%;
    padding: 20px;
}
.scheduleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.scheduleHeader p{
    opacity: 0.5;
}

.scheduleHeaderLeft{
    display: flex;
    align-items: center;
}
.scheduleHeaderLeft p{
    margin: 0;
    margin-right: 10px;
    padding: 0;
    opacity: 0.5;
}



@media screen and (max-width:768px) {
    .scheduleHeaderLeft{
        width: 50%;
        justify-content: flex-end;
    }
    .scheduleHeader>h3{
        width: 50%;
    }
    .scheduleCard{
        width: 100%;
        margin-top: 10px;
    }
   
}