.dashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashLeft{
    width: 20%;
    max-height: 97vh;
    overflow-y: hidden;
}

.dashRight{
    width: 80%;
    height: 95vh;
    overflow-y: scroll;
}

.dashRight{
    flex-direction: column;
}


.dashRightCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
}


@media screen and (max-width:768px) {
    .dashLeft{
        width: 10%;
        justify-content: center;
    }
    .dashRightCards{
        flex-wrap: wrap;
    }
    .dashRight{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .loginButtons{
        flex-wrap: wrap;
    }
    .loginButtons button{
        width: 100%;
        margin: 5px 0px;
    }
}

@media screen and (max-width:450px) {
    .dashRight{
        width: 100%;
    }
    .dashLeft{
        display: none !important;
    }
}