.metricBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.metricCard{
    color: black;
    padding: 20px;
    width: 20%;
    margin: 10px 0px;
    border-radius: 20px;
}
.metricCardTop{
    text-align: end;
}

.metricCardBottom p{
    margin: 0;
}
.metricCardBottom h3{
    font-size: 30px;
    margin: 5px 0px;
    padding: 0px;
}



@media screen and (max-width:1070px) {
    .metricCard{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .metricCard{
        width: 60%;
    }
    .metricBox{
        justify-content: flex-start;
    }
}
