.metricBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
}

.metricCard{
    color: black;
    padding: 20px;
    width: 20%;
    margin: 10px 0px;
    border-radius: 20px;
}
.metricCardTop{
    text-align: end;
}
.metricCardImage{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.metricCardBottom p{
    margin: 0;
}
.metricCardBottom h3{
    font-size: 17px;
    font-weight: 700 !important;
    margin: 5px 0px;
    padding: 0px;
}

.metricCard:hover{
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width:1070px) {
    .metricCard{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .metricCard{
        width: 60%;
    }
    .metricBox{
        justify-content: flex-start;
    }
}
