.pieBox {
    background-color: white;
    border-radius: 20px;
    width: 43%;
    padding: 20px;
}

.pieHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.pieHeaderLeft{
    display: flex;
    align-items: center;
}
.pieHeaderLeft p{
    margin: 0;
    margin-right: 10px;
    padding: 0;
    opacity: 0.5;
}

.pieView {
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.chartBox {
    width: 50%;
}

.chartTextBottomRight {
    width: 50%;
}

.pieDataRight{
    margin: 10px 0px;
}
.pieDataRight p{
    width: 87%;
    margin-left: auto;
    opacity: 0.5;
}

.chartTextBottomRight1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.chartTextBottomRight1 div {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 200px;
}


.chartTextBottomRight1 h3{
    font-size: 13px;
    margin: 5px 0px;
}


@media screen and (max-width:768px) {
    .pieHeaderLeft{
        width: 50%;
        justify-content: flex-end;
    }
    .pieHeader h3{
        width: 50%;
    }
    .pieBox{
        width: 90%;
        margin: auto;
    }
    .pieView{
        flex-direction: column;
    }
    .chartTextBottomRight{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
    }
    .pieDataRight{
        width: 33%;
    }
}


@media screen and (max-width:450px){
    .pieDataRight{
        width: 50%;
    }
}