@import url('https://fonts.googleapis.com/css2?family=family=Montserrat&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background: rgba(245, 245, 245, 1);
}

*{
    
    font-family: 'Montserrat';
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}


p{
    font-size: 12px;
}

h3{
    font-size: 15px;
}

input:focus-visible{
    outline: none;
}

button{
    cursor: pointer;
}