@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
    font-family: 'Poppins';
    background: rgba(245, 245, 245, 1);
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}


p{
    font-size: 12px;
}

h3{
    font-size: 15px;
}