.header{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.headerLeft{
    width: 30%;
    text-align: start;
}
.headerLeft h3{
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;
}
.headerRight{
    width: 40%;
}
.header div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.headerSearch{
    width: 60%;
}
.headerIcon{
    width: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerImage{
    border-radius: 200px;
     
}



@media screen and (max-width:768px) {
    .headerRight{
        width: 80%;
    }
    
}



@media screen and (max-width:600px) {
    .header{
        justify-content: flex-start;
    }
    .headerLeft h3{
        display: none;
    }
    .headerLeft{
        width: 0%;
    }
    .headerRight{
        width: 100% !important;
    }
    .headerIcon{
        width: 20%;
    }
    .headerSearch{
        width: 70%;
    }
}

